<!DOCTYPE html>
<html>
<head>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* Display 3 columns */
            gap: 1rem; /* Add some gap between items */
        }
    </style>
</head>
<body class="m-4"> {# Adding a margin of 4 units to all sides of the body #}
    <img src="logo.png" alt="Logo" class="mx-auto my-4" /> {# Add your logo image with appropriate path #}
            <h1 class="text-center mt-8 text-xl font-bold">Etablissements</h1> {# Add the title "Etablissements" at the bottom with appropriate styling #}
    </br>
    <div class="grid-container">
        {% for institution in institutions %}
            <div class=" md:justify-between md:items-center md:px-4 md:py-2 bg-blue-200 border border-blue-500 rounded-md p-5 mb-4 aspect-w-1 aspect-h-1">
                <p class="text-lg md:text-xl">{{ institution.nom }}</p>
                <p class="text-sm md:text-base">{{ institution.adresse }}</p>
                <p class="text-sm md:text-base">{{ institution.telephone }}</p>
                <p class="text-sm md:text-base">{{ institution.courriel }}</p>
            </div>
        {% endfor %}
    </div>

     <!-- Login Form -->
        <div class="md:justify-between md:items-center md:px-4 md:py-2 bg-blue-200 border border-blue-500 rounded-md p-5 mb-4 aspect-w-1 aspect-h-1">
            <form>
                <input type="text" placeholder="Identity" class="border border-gray-300 p-2 rounded-md mb-2">
                <input type="password" placeholder="Password" class="border border-gray-300 p-2 rounded-md mb-2">
            </form>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Connexion</button>

        </div>
    
        <!-- Form for adding a new institution -->
        <div class="md:justify-between md:items-center md:px-4 md:py-2 bg-blue-200 border border-blue-500 rounded-md p-5 mb-4 aspect-w-1 aspect-h-1">
            <form>
                <input type="text" placeholder="Name" class="border border-gray-300 p-2 rounded-md mb-2">
                <input type="text" placeholder="Address" class="border border-gray-300 p-2 rounded-md mb-2">
                <input type="tel" placeholder="Phone" class="border border-gray-300 p-2 rounded-md mb-2">
                <input type="email" placeholder="Email" class="border border-gray-300 p-2 rounded-md mb-2">
            </form>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Click here to add Etablissement</button>

        </div>
</body>
</html>